<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../public/js/iconMenu.js"></script>
    <link rel="stylesheet" href="../../public/css/component/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <title>Header</title>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header-inner">

                <a class="header-logo" href="#">Lazurite</a>
    
                <div class="header-user">
    
                    <nav>
                        <img class="avatar-circle" src="../../public/img/vaas.svg"
                             alt size="48" height="48" width="48" >
    
                        <div class="sidebar">
    
                            <img class="avatar-circle" src="../../public/img/vaas.svg"
                                 alt size="48" height="48" width="48" >
                            <span style="padding-left: 38px"></span>
    
                            <div class="sidebar-content">
                                <ul class="lists">
                                    <li class="list">
                                        <a href="#" class="nav-link">
                                            <i class='bx bx-user icon'></i>
                                            <span class="link">Your profile</span>
                                        </a>
                                    </li>
    
                                    <li class="list">
                                        <a href="#" class="nav-link">
                                            <i class='bx bxs-book-content icon' ></i>
                                            <span class="link">Your wish-list</span>
                                        </a>
                                    </li>
    
                                    <li class="list">
                                        <a href="#" class="nav-link">
                                            <i class='bx bx-support icon' ></i>
                                            <span class="link">Lazurite Support</span>
                                        </a>
                                    </li>
    
                                    <li class="list">
                                        <a href="#" class="nav-link">
                                            <i class='bx bx-book-open icon'></i>
                                            <span class="link">Lazurite Docs</span>
                                        </a>
                                    </li>
    
                                    <li class="list">
                                        <a href="#" class="nav-link">
                                            <i class='bx bx-cog icon' ></i>
                                            <span class="link">Settings</span>
                                        </a>
                                    </li>
    
                                    <li class="list">
                                        <a href="/logout" class="nav-link" onclick="confirmLogout()">
                                            <span class="link">Logout</span>
                                        </a>
                                    </li>
                                </ul>
    
                            </div>
                        </div>
    
                    </nav>
    
                    <section class="overlay"></section>
                </div>
    
            </div>
        </div>
    </header>
    
</body>
</html>