<body>

<main class="flex min-h-full flex-col justify-center">
  <div class="flex min-h-full flex-col justify-center px-6">
    <div class="py-6 max-w-24 w-full mx-auto">

      <div class="flex justify-center pb-8">
        <a class="text-3xl pb-1" href="#">Lazurite</a>
      </div>

      <h1 class="mb-6 text-center text-3xl font-medium">Create an account</h1>

      <div class="message-container mb-2">
        <!--        <div class="text-green-400 text-sm text-center p-2 rounded border border-green-900 bg-green-950" *ngIf="errorMsg.length">-->
        <!--          <p *ngFor="let msg of errorMsg">{{msg}}</p>-->
        <!--        </div>-->
        <div class="text-red-400 text-sm text-center p-2 rounded border border-red-900 bg-red-950" *ngIf="errorMsg.length">
          <p *ngFor="let msg of errorMsg">{{msg}}</p>
        </div>
      </div>

      <form class="space-y-3">

        <div>
          <label class="input-label" for="labeled-input-login">Login</label>
          <input class="block input w-full" type="text" id="labeled-input-login" [(ngModel)] = "registerRequest.login" name="login">
        </div>

        <div>
          <label class="input-label" for="labeled-input-email">Email</label>
          <input class="block input w-full" type="email" id="labeled-input-email" [(ngModel)]= "registerRequest.email" name="email">
        </div>

        <div>
          <label class="input-label" for="labeled-input-password">Password</label>
          <input class="block input w-full" type="password" id="labeled-input-password" [(ngModel)]= "registerRequest.passwordHash" name="passwordHash">
        </div>


        <div class="pt-2">
          <button (click)="register()" class="button button-primary w-full mt-4">Sign up</button>
        </div>
      </form>

      <div class="my-8 leading-6 font-medium text-sm ">
        <p class="text-center text-muted">Already have an account?
          <a href="login()"  class="text-accent">Sign in</a>
        </p>
      </div>
    </div>
  </div>
</main>
