<body>
<div>
  <div class="card width-15">
    <img height="110" [src]="wishlistCover" class="card-img-top" alt="...">
    <div (click)="onShowDetails()" class="card-body" style="cursor: pointer">
    <h5 class="card-title text-nowrap pb-1">&nbsp;{{wishlist.name}}</h5>

    </div>
    <div class="card-footer ">
      <div class="flex justify-between">
        <i (click)="onEdit()" class="fas fa-edit text-success" style="color: green"></i>
        <i (click)="onShare()" class="fas fa-share-nodes text-primary" style="color: cadetblue"></i>
        <i (click)="onDelete()" class="fa-solid fa-trash text-danger" style="color: gray"></i>
      </div>
    </div>
  </div>

</div>
</body>
