.card {
  border: 1px solid #04366b;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem 1.25rem;
}

.card-body {
  padding: 1.25rem;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #001a61;
  padding: 0.75rem 1.25rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
