body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    /* font-size: 16px; */
    /* line-height: 1.6; */
    /* color: black; */

    background-image: radial-gradient(ellipse at 85% 35%, #1636A6 5%, #000518 35%);

    
    color: #eee;

}



*,
*:before,
*:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    text-align: -webkit-match-parent;
}

a {
    color: inherit;
    text-decoration: inherit;
    
}


.button {
    display: inline-block;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(82 82 82 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}



/* Header */
header.header {
    height: 90px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    
    display: flex;
    align-items: center;
    justify-content: center;

    

    border-bottom-width: 1px;
    border-color: transparent;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 72rem;
    max-width: 90%;
}


.text-title {
    font-size: 2.75rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    font-weight: 600;
}

.text-sup-title {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    font-weight: 500;
}


.purple-fade, .purple-fade2 {
    position: relative;
    top: calc(-1* 90px);
}

.overflow-hidden {
    overflow: hidden;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}


.button-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(22 54 166 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}


a.text-accent {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.text-accent {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}