<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/hello-page.css">
    <link rel="stylesheet" href="../../assets/css/component/forall.css">
    <title>Lazurite</title>



</head>
<body>


    <header class="header">
        <div class="container flex items-center justify-between">
                <div class="flex items-center">
                    <a class="header-logo" href="#">Lazurite</a>

                    <ul class="flex">
                        <li><a class="px-3 py-2 font-medium text-gray-400" href="#">Product</a></li>
                        <li><a class="px-3 py-2 font-medium text-gray-400" href="#">News</a></li>
                    </ul>

                </div>


                <div>
                    <a class="px-3 py-2 font-medium text-gray-400" href="#">Community</a>
                    <a class="px-3 py-2 font-medium text-gray-400" href="#">Account</a>
                </div>
        </div>
    </header>





    <section class="pt-40 relative overflow-hidden purple-fade2">

        <div class="container mb-12">
                <div>
                    <div class="max-w-\[42rem\]">
                        <h1 class="text-title mt-8">Don’t forget to make</h1>
                        <h1 class="text-title ">someone happy...</h1>
                        <h1 class="text-title px-11 mb-8">with a gift.</h1>
                    </div>

                    <p class="text-2xl text-white opacity-70 mb-6">
						Lazurite is the dynamic app <br> crafted to streamline the gifting <br> experience for you and your friends.
					</p>
                </div>

                <div class="py-6 mt-4 flex items-center gap-6  flex-row">
					<a class="download-button button button-primary text-xl py-4 px-6" href="#">
                        Start with Lazurite
					</a>
					<a class="text-accent text-xl font-medium" href="#">
							More&nbsp;platforms
					</a>
				</div>
        </div>
    </section>


    <section>
            <div class="container mt-32">

                    <div class="text-xl">
                        <h2 class="text-sup-title mt-8 mb-4">Managing Desires in One Place</h2>
                        <div class="text-2xl text-white opacity-70 mb-6">
                            Lazurite is your personal assistant in gift organization. <br>
                            Create lists of desired items and invite friends and family to view, <br>
                            so you always know exactly what you'd like to receive. <br>
                            With us, giving and receiving gifts becomes easier and more enjoyable!
                        </div>
                    </div>
            </div>
    </section>





    <footer class="mt-32">
        <div class="container flex flex-row-reverse flex-wrap pt-24 pb-12 pt-24 pb-32">

            <div class="grid grid-cols-3 gap-3 gap-y-6 justify-between w-5 mb-24 ml-auto leading-loose pl-6">
                <div class="footer-getStart">
                    <ul>
                        <li class="text-gray-500 mb-3">Get started</li>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Account</a></li>
                    </ul>

                    <ul>
                        <li class="text-gray-500 mb-3">Lazurite</li>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Friends</a></li>
                    </ul>
                </div>

                <div class="footer-learn">
                    <ul>
                        <li class="text-gray-500 mb-3">Learn</li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Roadmap</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>

                <div class="footer-community">
                    <ul>
                        <li class="text-gray-500 mb-3">Community</li>
                        <li><a href="#">Join the community</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Discord</a></li>
                    </ul>
                </div>
            </div>

            <div class="mr-auto">
                <a href="#">Lazurite</a>
                <div class="text-gray-500 mb-3">Follow us</div>

                <div class="pb-1">
                    <select class="language-switcher" name="language" id="language">
                        <option value="English">English</option>
                        <option value="Polski">Polski</option>
                        <option value="Українська">Українська</option>
                    </select>
                </div>

                <div class="grid grid-flow-col gap-3 mb-4 text-sm">
                    <a class="font-medium" href="#">GitHub</a>
                    <a class="font-medium" href="#">Facebook</a>
                    <a class="font-medium" href="#">Twitter</a>
                    <a class="font-medium" href="#">Discord</a>
                </div>
            </div>



        </div>

        <div class="grid justify-center text-center">
            <div class="text-sm text-gray-500">
                &copy; 2024 Lazurite.  All rights reserved.
            </div>

            <div class="text-sm text-gray-500">
                <a href="#">Privacy Policy</a> |
                <a href="#">Terms of use</a>
            </div>
        </div>


    </footer>




</body>
</html>
