<body>


<header class="header">
  <div class="container">
    <div class="header-inner">

      <a class="text-2xl pb-1 text-white pl-6" href="#">Lazurite</a>

      <div class="header-user">

        <nav>
          <img class="avatar-circle" src=""
               alt size="48" height="48" width="48" >

          <div class="sidebar">

            <img class="avatar-circle" src="../../public/img/vaas.svg"
                 alt size="48" height="48" width="48" >
            <span style="padding-left: 38px"></span>

            <div class="sidebar-content">
              <ul class="lists">
                <li class="list">
                  <a href="#" class="nav-link">
                    <i class='fa-solid fa-user'></i>
                    <span class="link">Your profile</span>
                  </a>
                </li>

                <li class="list">
                  <a aria-current="page" href="/gifts" class="nav-link">
                    <i class='fa-solid fa-book' ></i>
                    <span class="link">Your wishlist</span>
                  </a>
                </li>

                <li class="list">
                  <a href="#" class="nav-link">
                    <i class='fa-solid fa-headset' ></i>
                    <span class="link">Lazurite Support</span>
                  </a>
                </li>

                <li class="list">
                  <a href="#" class="nav-link">
                    <i class='fa-solid fa-book-open'></i>
                    <span class="link">Lazurite Docs</span>
                  </a>
                </li>

                <li class="list">
                  <a href="#" class="nav-link">
                    <i class='fa-solid fa-cog' ></i>
                    <span class="link">Settings</span>
                  </a>
                </li>

                <li class="list">
<!--                  <i class="fa-solid fa-right-from-bracket"></i>-->
                  <a href="/logout" class=" nav-link" onclick="confirmLogout()">
                    <span class="link">Logout</span>
                  </a>
                </li>
              </ul>

            </div>
          </div>

        </nav>

        <section class="overlay" (click)="closeSidebar()"></section>
      </div>

    </div>
  </div>
</header>
</body>
